# AWS Bedrock Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

# OpenAI Configuration
OPENAI_API_KEY=

# Anthropic Configuration
ANTHROPIC_API_KEY=

# Google Gemini Configuration
GOOGLE_API_KEY=

# Other Services
TAVILY_API_KEY=

# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Email Configuration for Experiment Results
GMAIL_USER=your-email@gmail.com
GMAIL_PASSWORD=xxxx-xxxx-xxxx-xxxx
RESULTS_EMAIL=your-email@gmail.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=LangGraph-IVI
# AirBench Google Drive upload
# AirBench Google Drive upload
GOOGLE_DRIVE_RESULTS_FOLDER_URL=https://drive.google.com/drive/folders/1h4qp09YwB-vjOqqqXDOI4Fj2bUsikvTL?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_NHEnv_VI=https://drive.google.com/drive/folders/1m-TeRAX5NzAHiXlS4FvEfs0HHVihJiF_?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_CityEnv_VI=https://drive.google.com/drive/folders/1uApC-gaBIn33_mJbB9AwhWvFNQMb4jTB?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_ForestEnv_VI=https://drive.google.com/drive/folders/13OM0lqbCm_TfyF7vPfM0eH0MEG50792B?usp=sharing

GOOGLE_DRIVE_FOLDER_URL_NHEnv_M=https://drive.google.com/drive/folders/1bD0_1PK8_LItvIHwvLJDXcweuDjau5cq?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_CityEnv_M=https://drive.google.com/drive/folders/1ORXzBBmWnRLijMhCblYWPL2cZgqHiJU_?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_ForestEnv_M=https://drive.google.com/drive/folders/16EO0S4efjyeV5KvhTg76QY-qbAV1WWDC?usp=sharing

GOOGLE_DRIVE_FOLDER_URL_NHEnv_P=https://drive.google.com/drive/folders/1iTHoY7git1Ps1wpXIeHDe1Ca5sLLox2A?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_CityEnv_P=https://drive.google.com/drive/folders/1Xu-M6HGml_O8Ps-AK6GQZoyu5MnRiiIg?usp=sharing
GOOGLE_DRIVE_FOLDER_URL_ForestEnv_P=https://drive.google.com/drive/folders/1uXWnkRs9FDh6HUHoYz7_Qpyst9b2QLoc?usp=sharing

GOOGLE_DRIVE_SERVICE_ACCOUNT_FILE=your_json_here.json
GOOGLE_DRIVE_OAUTH_CLIENT_SECRET_FILE=your_json_here.json